<div id="details" class="container">
  <div class="row">
    <div class="col-xs-12 col-lg-2">
      <app-filters></app-filters>
    </div>
    <div class="col-xs-12 col-lg-10">
      <app-totalsow></app-totalsow>
      <app-sowlocation></app-sowlocation>
      <app-sowvendor></app-sowvendor>
      <app-sowcategory></app-sowcategory>
      <div class="panel panel-primary" style="margin-top:20px">
        <div class="panel-heading">
          <h5>SOW
            <p class="pull-right">
              <a id="totalSowBtnToggle5" data-toggle="collapse" data-target="#totalSowBody5">
                <span class="glyphicon glyphicon-chevron-up"></span>
              </a>
            </p>
          </h5>
        </div>
        <div class="collapse in" id="totalSowBody5">
          <div class="panel-body">
            <div class="row">
              <div class="col-xs-12">
                <data-table-demo-1></data-table-demo-1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
