<div class="panel panel-primary">
  <div class="panel-heading">
    <h5>Headcount by Vendor
      <p class="pull-right">
        <a id="headCountBtn" data-toggle="collapse" data-target="#headcountBody2">
          <span class="glyphicon glyphicon-chevron-up"  style="color: #fff;"></span>
        </a>
      </p>
    </h5>
  </div>
  <div class="panel-body" style="padding-left:8px">
    <div class="panel-body enableScroll collapse in" id="headcountBody2">
      <div id="totalheadcountbyvendorchart"></div>
    </div>
  </div>
</div>
