<div class="panel panel-primary">
  <div class="panel-heading">
    <h5>Top 5 Locations by Spend</h5>
  </div>
  <div class="panel-body" style="padding-left:0px">
        <ul class="nav nav-pills">
          <button style="float: right;" class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-save"></i><a href="../../assets/images/location.pdf" download="../../assets/images/location.pdf" style="color:white; text-decoration: none;">&nbsp;Download</a></button>
      </ul>
    <div id="locationsBySpend"></div>
  </div>
</div>
