<div class="container-fluid"  style="margin-top:50px;">
  <div class="row">
    <div class="col-lg-4">
       <app-total-spend></app-total-spend>
    </div>
    <div class="col-lg-4">
       <app-top5-vendors-by-spend></app-top5-vendors-by-spend>
    </div>
    <div class="col-lg-4">
        <app-top5-locations-by-spend></app-top5-locations-by-spend>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <app-total-sow></app-total-sow>
    </div>
    <div class="col-lg-4">
      <app-top5-vendors-by-sow></app-top5-vendors-by-sow>
    </div>
    <div class="col-lg-4">
      <app-top5-locations-by-sow></app-top5-locations-by-sow>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <app-total-headcount></app-total-headcount>
    </div>
    <div class="col-lg-4">
      <app-top5-vendors-by-headcount></app-top5-vendors-by-headcount>
    </div>
    <div class="col-lg-4">
      <app-top5-locations-by-headcount></app-top5-locations-by-headcount>
    </div>
  </div>
</div>
