<div class="panel panel-primary" style="margin-top:20px">
  <div class="panel-heading">
    <h5>Total SOW Count By Category
      <p class="pull-right">
        <a id="totalSowBtnToggle4" data-toggle="collapse" data-target="#totalSowBody4">
          <span class="glyphicon glyphicon-chevron-up"></span>
        </a>
      </p>
    </h5>
  </div>
  <div class="collapse in" id="totalSowBody4">
    <div class="panel-body">
      <div class="col-xs-12 col-sm-6">
        <div class="panel panel-primary" style="margin-top:20px">
          <div class="panel-body">
            <div id="categorychart1"></div>
          </div>
        </div>
      </div>
      <div class="col-xs-12  col-sm-6">
        <div class="panel panel-primary" style="margin-top:20px">
          <div class="panel-body">
            <div id="categorychart2"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
