<div class="panel panel-primary" style="margin-top:50px">
  <div class="panel-heading">
    <h5>Total Spend - <span class="badge totalSpendSOWPage">$133,973,686.4</span>
      <p class="pull-right">
        <a id="totalSowBtnToggle" data-toggle="collapse" data-target="#totalSowBody">
          <span class="glyphicon glyphicon-chevron-up"></span>
        </a>
      </p>
    </h5>
  </div>
  <div class="collapse in" id="totalSowBody">
    <div class="panel-body">
      <div id="totalspendchart"></div>
    </div>
  </div>
</div>
