


<div id="details" class="container">
  <div class="row">
    <div class="col-xs-12 col-lg-2">
      <app-filters></app-filters>
    </div>
    <div class="col-xs-12 col-lg-10" style="margin-top: 50px;">
      <app-total-headcount-analysis></app-total-headcount-analysis>
      <app-headcount-by-vendar></app-headcount-by-vendar>
      <app-headcount-by-location></app-headcount-by-location>
<!--      <div class="panel panel-primary" style="margin-top:20px">
        <div class="panel-heading">
          <h5>SOW
            <p class="pull-right">
              <a id="totalSowBtnToggle5" data-toggle="collapse" data-target="#totalSowBody5">
                <span class="glyphicon glyphicon-chevron-up"></span>
              </a>
            </p>
          </h5>
        </div>
        <div class="collapse in" id="totalSowBody5">
          <div class="panel-body">
            <div class="row">
              <div class="col-xs-12">
                <table id="example2" class="display" cellspacing="0" width="100%">
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>-->
    </div>
  </div>
</div>
